Dataset: https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/problem12.html

# Preparando os dados
Imports

In [0]:
import pandas as pd # Importa o Pandas

arquivo = 'https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv' # Nome e local do arquivo

df = pd.read_csv(arquivo) # Cria um dataframe do pandas

In [2]:
df.shape # Verifica o n√∫mero de linhas e colunas

(887, 8)

In [3]:
df.head()

   Survived  Pclass  ... Parents/Children Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

In [4]:
df = df.drop('Name', axis=1)
df.describe()

         Survived      Pclass  ...  Parents/Children Aboard       Fare
count  887.000000  887.000000  ...               887.000000  887.00000
mean     0.385569    2.305524  ...                 0.383315   32.30542
std      0.487004    0.836662  ...                 0.807466   49.78204
min      0.000000    1.000000  ...                 0.000000    0.00000
25%      0.000000    2.000000  ...                 0.000000    7.92500
50%      0.000000    3.000000  ...                 0.000000   14.45420
75%      1.000000    3.000000  ...                 0.000000   31.13750
max      1.000000    3.000000  ...                 6.000000  512.32920

[8 rows x 6 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Sex                      887 non-null    object
 3   Age                      887 non-null    float64
 4   Siblings/Spouses Aboard  887 non-null    int64
 5   Parents/Children Aboard  887 non-null    int64
 6   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.6+ KB

Mapendo valores de "sex"

In [0]:
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [7]:
df.head()

   Survived  Pclass  ...  Parents/Children Aboard     Fare
0         0       3  ...                        0   7.2500
1         1       1  ...                        0  71.2833
2         1       3  ...                        0   7.9250
3         1       1  ...                        0  53.1000
4         0       3  ...                        0   8.0500

[5 rows x 7 columns]

# Modelo

In [0]:
y = df['Survived']
X = df.drop(['Survived'], axis=1)

In [0]:
from sklearn.model_selection import train_test_split # Importa parte do sklearn para dividir os dados de entrada entre treino e teste

In [0]:
X_treino, X_teste, y_treino, y_teste = train_test_split(X, y, random_state=0) # Divide os dados de entrada entre treino e teste

In [0]:
from xgboost import XGBClassifier

In [0]:
modelo = XGBClassifier()

In [13]:
modelo.fit(X_treino, y_treino)
modelo.score(X_teste, y_teste)

0.8288288288288288

# Otimizando hiperpar√¢metros

Com base no tutorial do [Mario Filho](http://mariofilho.com).

In [14]:
!pip install scikit-optimize
from skopt import gp_minimize

Requirement already satisfied: scikit-optimize in /usr/local/lib/python3.6/dist-packages (0.7.4)
Requirement already satisfied: scipy>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from scikit-optimize) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-optimize) (0.14.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-optimize) (1.18.2)
Requirement already satisfied: pyaml>=16.9 in /usr/local/lib/python3.6/dist-packages (from scikit-optimize) (20.4.0)
Requirement already satisfied: scikit-learn>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from scikit-optimize) (0.22.2.post1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.6/dist-packages (from pyaml>=16.9->scikit-optimize) (3.13)

In [15]:
from sklearn.model_selection import cross_val_score

def treinar_modelo(params):
  eta = params[0]
  max_depth = params[1]
  subsample = params[2]
  colsample_bytree = params[3]

  print(params, '\n')
    
  mdl = XGBClassifier(eta=eta, max_depth=max_depth, subsample=subsample, colsample_bytree=colsample_bytree, random_state=0)
    
  scores = cross_val_score(mdl, X, y, cv=5, scoring='accuracy')
    
  return -scores.mean()

space = [(1e-3, 1), #eta
         (2, 10), # max_depth 
         (0.05, 1.0), # subsample
         (0.1, 1.0)] # colsample bytree

resultados_gp = gp_minimize(treinar_modelo, space, random_state=0, verbose=1, n_calls=20, n_random_starts=10)

Iteration No: 1 started. Evaluating function at random point.
[0.5932517736067934, 9, 0.8650483367416192, 0.8625265649057131]

Iteration No: 1 ended. Evaluation done at random point.
Time taken: 0.4621
Function value obtained: -0.8276
Current minimum: -0.8276
Iteration No: 2 started. Evaluating function at random point.
[0.6239401330891865, 5, 0.3326578762172487, 0.1510416795856989]

Iteration No: 2 ended. Evaluation done at random point.
Time taken: 0.1705
Function value obtained: -0.8039
Current minimum: -0.8276
Iteration No: 3 started. Evaluating function at random point.
[0.27338363828553314, 6, 0.8215602923367188, 0.5319794551375517]

Iteration No: 3 ended. Evaluation done at random point.
Time taken: 0.2856
Function value obtained: -0.8377
Current minimum: -0.8377
Iteration No: 4 started. Evaluating function at random point.
[0.393392011304729, 9, 0.37052635239640497, 0.6833546848460775]

Iteration No: 4 ended. Evaluation done at random point.
Time taken: 0.3467
Function value obtained: -0.8343
Current minimum: -0.8377
Iteration No: 5 started. Evaluating function at random point.
[0.3688732983007075, 10, 0.1833332413920129, 0.8830785325225929]

Iteration No: 5 ended. Evaluation done at random point.
Time taken: 0.2794
Function value obtained: -0.8287
Current minimum: -0.8377
Iteration No: 6 started. Evaluating function at random point.
[0.4741344372284369, 8, 0.5444536055736446, 0.7109915771070644]

Iteration No: 6 ended. Evaluation done at random point.
Time taken: 0.3792
Function value obtained: -0.8332
Current minimum: -0.8377
Iteration No: 7 started. Evaluating function at random point.
[0.720912022071191, 7, 0.5605045679765602, 0.7827540618901216]

Iteration No: 7 ended. Evaluation done at random point.
Time taken: 0.3620
Function value obtained: -0.8309
Current minimum: -0.8377
Iteration No: 8 started. Evaluating function at random point.
[0.10680169958060437, 6, 0.22701572616042198, 0.7632263594160624]

Iteration No: 8 ended. Evaluation done at random point.
Time taken: 0.2674
Function value obtained: -0.8332
Current minimum: -0.8377
Iteration No: 9 started. Evaluating function at random point.
[0.21733380406994757, 3, 0.3579339574035534, 0.2347073804653149]

Iteration No: 9 ended. Evaluation done at random point.
Time taken: 0.1603
Function value obtained: -0.7915
Current minimum: -0.8377
Iteration No: 10 started. Evaluating function at random point.
[0.2230990668633361, 5, 0.9074685517529346, 0.504954990920105]

Iteration No: 10 ended. Evaluation done at random point.
Time taken: 0.7101
Function value obtained: -0.8310
Current minimum: -0.8377
Iteration No: 11 started. Searching for the next optimal point.
[0.001, 10, 1.0, 0.1]

Iteration No: 11 ended. Search finished for the next optimal point.
Time taken: 0.7105
Function value obtained: -0.8118
Current minimum: -0.8377
Iteration No: 12 started. Searching for the next optimal point.
[0.001, 2, 0.05, 1.0]

Iteration No: 12 ended. Search finished for the next optimal point.
Time taken: 0.5812
Function value obtained: -0.7948
Current minimum: -0.8377
Iteration No: 13 started. Searching for the next optimal point.
[0.797860538017737, 2, 0.07401363097809077, 0.6004788495785199]

Iteration No: 13 ended. Search finished for the next optimal point.
Time taken: 0.5367
Function value obtained: -0.7982
Current minimum: -0.8377
Iteration No: 14 started. Searching for the next optimal point.
[1.0, 10, 1.0, 0.5082224196825798]

Iteration No: 14 ended. Search finished for the next optimal point.
Time taken: 0.7560
Function value obtained: -0.8321
Current minimum: -0.8377
Iteration No: 15 started. Searching for the next optimal point.
[0.02978966065819472, 8, 0.07068331724047126, 0.4177338483837927]

Iteration No: 15 ended. Search finished for the next optimal point.
Time taken: 0.5509
Function value obtained: -0.7959
Current minimum: -0.8377
Iteration No: 16 started. Searching for the next optimal point.
[0.001, 10, 1.0, 0.6741897910964681]

Iteration No: 16 ended. Search finished for the next optimal point.
Time taken: 0.8489
Function value obtained: -0.8253
Current minimum: -0.8377
Iteration No: 17 started. Searching for the next optimal point.
[1.0, 10, 0.5547439067315457, 1.0]

Iteration No: 17 ended. Search finished for the next optimal point.
Time taken: 0.9693
Function value obtained: -0.8366
Current minimum: -0.8377
Iteration No: 18 started. Searching for the next optimal point.
[1.0, 2, 1.0, 1.0]

Iteration No: 18 ended. Search finished for the next optimal point.
Time taken: 0.5592
Function value obtained: -0.8151
Current minimum: -0.8377
Iteration No: 19 started. Searching for the next optimal point.
[0.7141014553524888, 10, 0.6376044366938645, 0.6211161558204176]

Iteration No: 19 ended. Search finished for the next optimal point.
Time taken: 0.7713
Function value obtained: -0.8309
Current minimum: -0.8377
Iteration No: 20 started. Searching for the next optimal point.
[0.001, 10, 0.5191872847908456, 1.0]

Iteration No: 20 ended. Search finished for the next optimal point.
Time taken: 0.9425
Function value obtained: -0.8276
Current minimum: -0.8377

In [16]:
resultados_gp.x

[0.27338363828553314, 6, 0.8215602923367188, 0.5319794551375517]

# Adaptando modelo

In [17]:
mdl = XGBClassifier(eta=0.001,
                    max_depth=5,
                    subsample=0.6667,
                    colsample_bytree=0.6914,
                    random_state=0)
    
scores = cross_val_score(mdl, X, y, cv=5, scoring='accuracy')

print(scores.mean())

0.8467276074398529